/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

.ico-img {
  height:3em;
}

.register-container{
  margin:2em 0em 4em 0em;
}

.shop-header{
  position: absolute;
   z-index:999; 
   color:blue; 
   margin-left: 1em;
}